.header-body {
    align-items: center;
    background: rgb(118, 74, 188);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 0;
    
}

input {
    font-size: 18px;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background: rgb(37, 40, 60);
    color: rgb(150, 154, 174)
}

input:focus {
    outline: none;
}